{% extends 'templates/app.twig' %}

{% block content %}
	<table class="table table-hover">
		<tr>
			<th>Username</th>
			<th>Nama</th>
			<th>Email</th>
		</tr>
			<tr>
				<td>{{profile.username}}</td>
				<td>{{profile.name}}</td>
				<td>{{profile.email}}</td>
			</tr>
	</table>
{% endblock %}